@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a, a:link, a:visited  {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  color: #FFFFFF;
  background-color: #2B2B2B;
}
body .header {
  padding: 20px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
}
body .header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
body .header .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
body .header .nav__link {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  color: #FFFFFF;
  text-decoration: none;
}
body .header .nav__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  background-color: #A259FF;
  padding: 20px 30px;
  border-radius: 20px;
}
body .header .nav__btn-link {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  color: #FFFFFF;
  text-decoration: none;
}
body .header-burger {
  display: none;
}
body .main .section1 {
  padding: 80px 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
}
body .main .section1-textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
}
body .main .section1-textbox__title {
  font-family: "Work Sans", sans-serif;
  font-size: 51px;
  font-weight: 600;
  line-height: 110%;
}
body .main .section1-textbox__text {
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 160%;
}
body .main .section1-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  width: 100%;
}
body .main .section1-container .section1-box__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
}
body .main .section1-container .section1-box__link {
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 140%;
  color: #FFFFFF;
  text-decoration: none;
}
body .main .section1-container .section1-box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 382px;
  border-radius: 20px;
  border: 1px solid #3B3B3B;
  padding: 20px 45px;
  width: 100%;
}
body .main .section1-container .section1-box2__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
}
body .main .section1-container .section1-box2__cont-text {
  font-family: "Space Mono", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: #858584;
  width: 100%;
}
body .main .section1-container .section1-box2__cont2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
  width: 100%;
}
body .main .section1-container .section1-box2__cont2-text {
  font-family: "Space Mono", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: #858584;
  width: 100%;
}
body .main .section1-container .section1-box3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  width: 100%;
}
body .main .section1-container .section1-box3__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
  width: 100%;
  border-radius: 20px;
  background-color: #3B3B3B;
  padding: 12px 20px;
}
body .main .section1-container .section1-box3__cont .section1-box3__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  width: 100%;
}
body .main .section1-container .section1-box3__cont .section1-box3__avatar-number {
  padding: 5px 10px;
  background-color: #2B2B2B;
  border-radius: 20px;
}
body .main .section1-container .section1-box3__cont .section1-box3__avatar-number-text {
  font-family: "Space Mono", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: #858584;
}
body .main .section1-container .section1-box3__cont .section1-box3__avatar-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  width: 100%;
}
body .main .section1-container .section1-box3__cont .section1-box3__avatar-info-name {
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 140%;
  width: 100%;
}
body .main .section1-container .section1-box3__cont .section1-box3__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 133px;
  width: 100%;
  margin-right: 128px;
}
body .main .section1-container .section1-box3__cont .section1-box3__number-percent {
  font-family: "Space Mono", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: #00AC4F;
}
body .main .section1-container .section1-box3__cont .section1-box3__number-sold {
  font-family: "Space Mono", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
body .main .section1-container .section1-box3__cont .section1-box3__number-volume {
  font-family: "Space Mono", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}
body .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30px;
  padding: 40px 100px;
  background-color: #3B3B3B;
}
body .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 115px;
}
body .footer-container .footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 25px;
}
body .footer-container .footer-box__text {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: #CCCCCC;
  width: 72%;
}
body .footer-container .footer-box__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 15px;
}
body .footer-container .footer-box__wrap-text {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: #CCCCCC;
}
body .footer-container .footer-box__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
body .footer-container .footer-box__title {
  font-family: "Space Mono", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 160%;
}
body .footer-container .footer-box__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
}
body .footer-container .footer-box__link {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: #CCCCCC;
  text-decoration: none;
}
body .footer-container .footer-box__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0px;
  background-color: #FFFFFF;
  border-radius: 20px;
}
body .footer-container .footer-box__label-input {
  padding: 16px 20px;
  border-radius: 20px;
  color: #2B2B2B;
}
body .footer-container .footer-box__label-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 140%;
  background-color: #A259FF;
  padding: 16px 50px;
  border-radius: 20px;
}
body .footer-container2 {
  padding-top: 20px;
  border-top: 1px solid #2B2B2B;
  width: 100%;
}
body .footer-container2__text {
  font-family: "Work Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 110%;
  color: #CCCCCC;
}

@media screen and (max-width: 1279px) and (min-width: 834px) {
  body .header .nav {
    display: none;
  }
  body .header-burger {
    display: block;
  }
  body .main .section1 {
    padding: 80px 0px;
  }
  body .main .section1 .section1-box2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 320px;
  }
  body .main .section1 .section1-box3__cont .section1-box3__avatar-info-name {
    font-family: "Work Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 140%;
  }
  body .main .section1 .section1-box3__cont .section1-box3__number {
    margin-right: 0px;
  }
  body .footer {
    padding: 80px 70px;
  }
  body .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 30px;
  }
}
@media screen and (max-width: 833px) {
  body .header {
    padding: 20px 10px;
  }
  body .header .nav {
    display: none;
  }
  body .header-burger {
    display: block;
  }
  body .main .section1 {
    padding: 80px 30px;
  }
  body .main .section1-textbox__title {
    font-family: "Work Sans", sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 140%;
  }
  body .main .section1-textbox__text {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
  }
  body .main .section1-container .section1-box__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
  body .main .section1-container .section1-box__link {
    font-family: "Work Sans", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 140%;
  }
  body .main .section1-container .section1-box2 {
    gap: 40px;
  }
  body .main .section1-container .section1-box2__cont2-text {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
  }
  body .main .section1-container .section1-box2__cont2-text--mobile-none {
    display: none;
  }
  body .main .section1-container .section1-box3__cont .section1-box3__avatar-number {
    display: none;
  }
  body .main .section1-container .section1-box3__cont .section1-box3__avatar-info-name {
    font-family: "Work Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
  }
  body .main .section1-container .section1-box3__number {
    margin-right: 0px;
  }
  body .main .section1-container .section1-box3__number-percent {
    display: none;
  }
  body .main .section1-container .section1-box3__number-sold {
    display: none;
  }
  body .footer {
    padding: 20px 10px;
  }
  body .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 0px;
  }
  body .footer-container .footer-box__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
    background-color: #3B3B3B;
  }
  body .footer-container .footer-box__label-input {
    background-color: #FFFFFF;
    color: #2B2B2B;
  }
  body .footer-container .footer-box__label-btn {
    width: 100%;
  }
}