@mixin work-sans-normal( $white, $font-first, $fw-normal) {
    color: $white;
    font-family: Work Sans;
    font-weight: $fw-normal;
}
@mixin work-sans-light( $white, $font-first, $fw-normal) {
    color: $white;
    font-family: Work Sans;
    font-weight: $fw-small;
}
@mixin work-sans-normal-gray($light-grey, $font-first, $fw-small) {
    color: $light-grey;
    font-family: Work Sans;
    font-weight: $fw-small;
}
@mixin space-mono-white( $white, $font-last, $fw-big) {
    color: $white;
    font-family: $font-last;
    font-weight: $fw-big;
}