@mixin work-sans-normal( $white, $font-first, $fw-normal) {
    color: #FFF;
    font-family: Work Sans;
    font-weight: 600;
}
@mixin work-sans-normal-gray($light-grey, $font-first, $fw-small) {
    color: #CCC;
    font-family: Work Sans;
    font-weight: 400;
}
@mixin space-mono-white( $white, $font-last, $fw-big) {
    color: #FFF;
    font-family: Space Mono;
    font-weight: 700;
}