@import './mixins';
@import './reset';
@import './vars';

body {
    width: 100%;
    background-color: $dark;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 50px;
}
.nav {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.nav__list {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}
.nav__link {
    @include work-sans-normal( $white, $font-first, $fw-normal);
    text-align: center;
    font-size: 16px;
    line-height: 140%;
}
.btn {
    display: flex;
    padding: 20px 30px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    background-color:  $purple;
    @include work-sans-normal( $white, $font-first, $fw-normal);
    text-align: center;
    font-size: 16px;
    line-height: 140%;
}
.main {
    display: flex;
    flex-direction: column;
}
.container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 20px 50px;
}
.section1 {
    .btn {
        width: 50%;
    }
}
.section1__textbox {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 39%;
}
.section1__title {
    @include work-sans-normal( $white, $font-first, $fw-normal);
    line-height: 110%;
    font-size: 67px;
}
.section1__text {
    @include work-sans-light( $white, $font-first, $fw-small);
    font-size: 22px;
    line-height: 160%;
    text-transform: capitalize;
}
.section1__info-box {
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.section1__info-textbox {
    display: flex;
    flex-direction: column;
}
.section1__info-text {
    @include space-mono-white( $white, $font-last, $fw-big);
    font-size: 28px;
    line-height: 140%;
}
.section1__info-text2 {
    @include work-sans-light( $white, $font-first, $fw-small);
    font-size: 24px;
    line-height: 160%;
}
.section1__nft-box {
    display: flex;
    flex-direction: column;
}
.section1__nft-textbox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: $Background---Secondary;
    border-radius: 0px 0px 20px 20px;
}
.section1__nft-text {
    @include work-sans-normal( $white, $font-first, $fw-normal);
    display: flex;
    align-self: stretch;
    font-size: 22px;
    line-height: 140%;
    text-transform: capitalize;
}
.section1__nft-profile {
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.section1__profile-text {
    @include work-sans-light( $white, $font-first, $fw-small);
    font-size: 16px;
    line-height: 140%;
}
.section2 {
    display: flex;
    flex-direction: column;
    .container {
        gap: 60px;
    }
}
.section2__text-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.section2__title {
    @include work-sans-light( $white, $font-first, $fw-normal);
    font-size: 38px;
    line-height: 120%;
    text-transform: capitalize;
}
.section2__text {
    @include  work-sans-light( $white, $font-first, $fw-small);
    line-height: 160%;
    text-transform: capitalize;
}
.section2__container {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.section2__box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}




.footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 130px;
}
.footer__wrapper {
    display: flex;
    flex-direction: row;
    gap: 120px;
}
.footer__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 20%;
    .more--width {
        width: 150%
    }
}
.footer__text {
    @include work-sans-normal-gray($light-grey, $font-first, $fw-small);
}
.social {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.footer__title {
    @include space-mono-white( $white, $font-last, $fw-big);
    font-size: 22px;
    line-height: 160%;
}
.footer__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer__link {
    @include work-sans-normal-gray($light-grey, $font-first, $fw-small);
    font-size: 16px;
    line-height: 140%;
}
.form {
    position: relative;
    margin: 1em;
  }
  
.emeil {
    display: block;
    width: 408px;
    height: 59px;    
    line-height: 3em;
    border-radius: 1.5em;
    border: 1px solid;
    padding: 0 1.5em;
    border-radius: 8px;
    background: #FFF;
}
.input__btn {
    @include work-sans-normal( $white, $font-first, $fw-normal);
    position: absolute;
    display: flex;
    top: .0em;
    right: -13em;
    width: 90%;
    padding: 20px 45px;
    border-radius: 1.1em;
    border-radius: 20px;
    background-color:  $purple;
    text-align: center;
    font-size: 18px;
}
.footer__last-container {
    border-top: 2px solid $grey;
    padding-top: 20px;
}
.footer__last-text {
    @include work-sans-normal-gray($light-grey, $font-first, $fw-small);
    font-size: 12px;
    line-height: 110%;
}