@import './mixins';
@import './reset';
@import './vars';

body {
    width: 100%;
    background-color: $dark;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 50px;
}
.nav {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.nav__list {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}
.nav__link {
    @include work-sans-normal( $white, $font-first, $fw-normal);
    text-align: center;
    font-size: 16px;
    line-height: 140%;
}
.btn {
    display: flex;
    padding: 20px 30px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    background-color:  $purple;
    @include work-sans-normal( $white, $font-first, $fw-normal);
    text-align: center;
    font-size: 16px;
    line-height: 140%;
}
.footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 130px;
}
.footer__wrapper {
    display: flex;
    flex-direction: row;
    gap: 70px;
}
.footer__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 20%;
}
.footer__text {
    @include work-sans-normal-gray($light-grey, $font-first, $fw-small);
}
.social {
    display: flex;
    flex-direction: row;
    gap: 10px;
}