@import './vars';
@import './reset';
@import './mixins';

body {
    color: $text-color;
    background-color: $bg-color;
    .header {
        padding: 20px 50px;
        @include flex(row, space-between, center, 0px);
        .nav {
            @include flex(row, center, center, 30px);
            &__list {
                @include flex(row, center, center, 30px);
            }
            &__link {
                @include WorkSans(16px, 600, 140%);
                color: $text-color;
                text-decoration: none;
            }
            &__btn {
                @include flex(row, center, center, 7px);
                background-color: $button-color;
                padding: 20px 30px;
                border-radius: 20px;
                &-link {
                    @include WorkSans(16px, 600, 140%);
                    color: $text-color;
                    text-decoration: none;
                }
            }
        }
        &-burger {
            display: none
        }
    }
    .main {
        .section1 {
            @include flex(column, center, flex-start, 0px);
            width: 100%;
            &-container {
                @include flex(column, center, flex-start, 30px);
                padding: 80px;
                width: 100%;
                &__textbox {
                    @include flex(column, center, flex-start, 10px);
                    &-title {
                        @include WorkSans(51px, 500, 110%);
                    }
                    &-text {
                        @include WorkSans(22px, 400, 160%);
                    }
                }
                &__label {
                    @include flex(row, center, center, 0px);
                    padding: 16px 20px;
                    border-radius: 20px;
                    width: 90%;
                    border: 1px solid $bg-secondary;
                    &-input {
                        width: 100%;
                    }
                }
            }
            &-container2 {
                @include flex(column, center, center, 0px);
                width: 100%;
                background-color: $bg-secondary;
                .section1-box {
                    @include flex(row, center, center, 30px);
                    padding: 0px 100px;
                    width: 100%;
                    background-color: $bg-color;
                    &__wrap {
                        @include flex(row, center, center, 26px);
                        width: 100%;
                        &-text {
                            @include WorkSans(22px, 600, 140%);
                            color: $labal-color;
                            text-decoration: none;
                        }
                        &-text:active {
                            color: $text-color;
                            .section1-box__wrap-count {
                                background-color: $labal-color;
                            }
                        }
                        &-count {
                            padding: 5px 10px;
                            border-radius: 20px;
                            background-color: $bg-secondary;
                            &-text {
                                @include SpaceMono(16px, 400, 140%);
                            }
                        }
                    }
                }
                .section1-box2 {
                    padding: 60px 0px;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    gap: 30px;
                    .section1-card {
                        @include flex(column, center, flex-start, 0px);
                        background-color: $bg-color;
                        border-radius: 20px;
                        &__wrap {
                            @include flex(column, center, flex-start, 27px);
                            padding: 20px 30px;
                        }
                        &__textbox {
                            @include flex(column, center, flex-start, 0px);
                            &-name {
                                @include WorkSans(22px, 600, 140%);
                            }
                            &-avatar {
                                @include flex(row, center, center, 12px);
                                &-text {
                                    @include SpaceMono(16px, 400, 140%);
                                }
                            }
                        }
                        &__price {
                            @include flex(row, space-between, center, 100px);
                            &-cont {
                                @include flex(column, center, flex-start, 8px);
                                &-text1 {
                                    @include SpaceMono(12px, 400, 110%);
                                    color: $labal-color
                                }
                                &-text2 {
                                    @include SpaceMono(16px, 400, 140%);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .footer {
        @include flex(column, flex-start, flex-start, 30px);
        border-top : 2px solid $bg-color;
        padding: 40px 100px;
        background-color: $bg-secondary;
        &-container {
            @include flex(row, flex-start, flex-start, 115px);
            .footer-box {
                @include flex(column, flex-start, flex-start, 25px);
                &__text {
                    @include WorkSans(16px, 400, 140%);
                    color: $footer-text-color;
                    width: 72%;
                }
                &__wrap {
                    @include flex(column, flex-start, flex-start, 15px);
                    &-text {
                        @include WorkSans(16px, 400, 140%);
                        color: $footer-text-color;  
                    }
                }
                &__social {
                    @include flex(row, center, center, 10px);
                }
                &__title {
                    @include SpaceMono(22px, 700, 160%);
                }
                &__list {
                    @include flex(column, flex-start, flex-start, 20px);
                }
                &__link {
                    @include WorkSans(16px, 400, 140%);
                    color: $footer-text-color;
                    text-decoration: none;
                }
                &__label {
                    @include flex(row, center, center, 0px);
                    background-color: $text-color;
                    border-radius: 20px;
                    &-input {
                        padding: 16px 20px;
                        border-radius: 20px;
                        color: $bg-color;
                    }
                    &-btn {
                        @include flex(row, center, center, 12px);
                        @include WorkSans(16px, 600, 140%);
                        background-color: $button-color;
                        padding: 16px 50px;
                        border-radius: 20px;
                    }
                }
            }
        }
        &-container2 {
            padding-top: 20px;
            border-top: 1px solid $bg-color;
            width: 100%;
            &__text {
                @include WorkSans(12px, 400, 110%);
                color: $footer-text-color;
            }
        }
    }
}

@media screen and (max-width: 1279px) and (min-width: 834px) {
    body {
        .header {
            @include flex(row, space-around, center, 350px);
            .header-burger {
                display: flex;
                flex-direction: row;
                align-items: center;
              }
              
              .header-burger__img {
                width: 35px;
                height: 35px;
                margin-right: 20px;
              }
              
              .header-burger__img.krest {
                content: url("../img/png/krest.png");
                width: 35px;
                height: 35px;
              }
              
              .nav {
                display: none;
              }
              
              .nav.open {
                display: flex;
                flex-direction: column;
              }
              .nav__list {
                list-style: none;
                padding: 0;
                margin: 0;
                position: absolute;
                top: 100px;
                right: 500px; /* adjust this value to position the menu to the left of the krest icon */
                flex-direction: column;
                align-items: flex-start;
              }
              
              .nav__item {
                margin-bottom: 10px;
              }
              
              .nav__link {
                text-decoration: none;
              }
              
              .nav__btn {
                position: absolute;
                top: 300px;
                right: 500px;
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                color: #fff;
                cursor: pointer;
              }
              
              .nav__btn-img {
                width: 20px;
                height: 20px;
                margin-right: 10px;
              }
        }
        .backround {
            content: '';
            background-color: rgba(0, 0, 0, 0.8);
            z-index: 1;
          }
        .main {
            .section1 {
                .section1-box2 {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }
        .footer {
            padding: 80px 70px;
            &-container {
                @include flex(column, flex-start, flex-start, 30px);
            }
        }
    }
}
@media screen and (max-width: 833px) {
    body {
        .header {
            @include flex(row, space-around, center, 0px);
            .header-burger {
                display: flex;
                flex-direction: row;
                align-items: center;
              }
              
              .header-burger__img {
                width: 35px;
                height: 35px;
                margin-right: 20px;
              }
              
              .header-burger__img.krest {
                content: url("../img/png/krest.png");
                width: 35px;
                height: 35px;
              }
              
              .nav {
                display: none;
              }
              
              .nav.open {
                display: flex;
                flex-direction: column;
              }
              .nav__list {
                list-style: none;
                padding: 0;
                margin: 0;
                position: absolute;
                top: 100px;
                right: 120px;
                flex-direction: column;
                align-items: flex-start;
              }
              
              .nav__item {
                margin-bottom: 10px;
              }
              
              .nav__link {
                text-decoration: none;
              }
              
              .nav__btn {
                position: absolute;
                top: 300px;
                right: 120px;
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                color: #fff;
                cursor: pointer;
              }
              
              .nav__btn-img {
                width: 20px;
                height: 20px;
                margin-right: 10px;
              }
        }
        .backround {
            content: '';
            background-color: rgba(0, 0, 0, 0.8);
            z-index: 1;
          }
        .main {
            .section1 {
                &-container {
                    padding: 0px;
                    &__textbox {
                        &-title {
                            @include WorkSans(28px, 600, 140%);
                        }
                        &-text {
                            @include WorkSans(16px, 400, 140%);
                        }
                    }
                }
                &-container2 {
                    .section1-box {
                        &__wrap {
                            &-count {
                                display: none;
                            }
                        }
                    }
                }
                padding: 80px 30px;
                .section1-box2 {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                }
            }
        }
        .footer {
            padding: 20px 10px;
            &-container {
                @include flex(column, center, flex-start, 0px);
                .footer-box {
                    &__label {
                        @include flex(column, center, center, 20px);
                        background-color: $bg-secondary;
                        &-input {
                            background-color: $text-color;
                            color: $bg-color;
                        }
                        &-btn {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}