@import './vars';
@import './reset';
@import './mixins';

body {
    color: $text-color;
    background-color: $bg-color;
    .header {
        padding: 20px 50px;
        @include flex(row, space-between, center, 0px);
        .nav {
            @include flex(row, center, center, 30px);
            &__list {
                @include flex(row, center, center, 30px);
            }
            &__link {
                @include WorkSans(16px, 600, 140%);
                color: $text-color;
                text-decoration: none;
            }
            &__btn {
                @include flex(row, center, center, 7px);
                background-color: $button-color;
                padding: 20px 30px;
                border-radius: 20px;
                &-link {
                    @include WorkSans(16px, 600, 140%);
                    color: $text-color;
                    text-decoration: none;
                }
            }
        }
        &-burger {
            display: none
        }
    }
    .main {
        .section1 {
            padding: 80px 115px;
            @include flex(column, flex-start, center, 80px);
            &-textbox {
                @include flex(column, flex-start, flex-start, 20px);
                &__title {
                    @include WorkSans(51px, 600, 110%);
                }
                &__text {
                    @include WorkSans(22px, 400, 160%);
                }
            }
            &-container {
                @include flex(column, center, center, 20px);
                width: 100%;
                .section1-box {
                    &__list {
                        @include flex(row, flex-start, center, 100px);
                    }
                    &__link {
                        @include WorkSans(22px, 600, 140%);
                        color: $text-color;
                        text-decoration: none;
                        
                    }
                }
                .section1-box2 {
                    @include flex(row, center, center, 400px);
                    border-radius: 20px;
                    border: 1px solid $bg-secondary;
                    padding: 20px 45px;
                    width: 100%;
                    &__cont {
                        @include flex(row, flex-start, flex-start, 20px);
                        &-text {
                            @include SpaceMono(16px, 400, 140%);
                            color: $labal-color;
                            width: 100%;
                        }
                    }
                    &__cont2 {
                        @include flex(row, flex-start, flex-start, 20px);
                        width: 100%;
                        &-text {
                            @include SpaceMono(16px, 400, 140%);
                            color: $labal-color;
                            width: 100%;
                        }
                    }
                }
                .section1-box3 {
                    @include flex(column, center, center, 20px);
                    width: 100%;
                    &__cont {
                        @include flex(row, center, center, 60px);
                        width: 100%;
                        border-radius: 20px;
                        background-color: $bg-secondary;
                        padding: 12px 20px;
                        .section1-box3__avatar {
                            @include flex(row, center, center, 15px);
                            width: 100%;
                            &-number {
                                padding: 5px 10px;
                                background-color: $bg-color;
                                border-radius: 20px;
                                &-text {
                                    @include SpaceMono(16px, 400, 140%);
                                    color: $labal-color;
                                }
                            }
                            &-info {
                                @include flex(row, flex-start, center, 20px);
                                width: 100%;
                                &-name {
                                    @include WorkSans(22px, 600, 140%);
                                    width: 100%;
                                }
                            }
                        }
                        .section1-box3__number {
                            @include flex(row, center, center, 20px);
                            width: 100%;
                            &-percent {
                                @include SpaceMono(16px, 400, 140%);
                                color: $percent-color;
                            }
                            &-sold {
                                @include SpaceMono(16px, 400, 140%);
                            }
                            &-volume {
                                @include SpaceMono(16px, 400, 140%);
                            }
                        }
                    }
                }
            }
        }
    }
    .footer {
        @include flex(column, flex-start, flex-start, 30px);
        padding: 40px 100px;
        background-color: $bg-secondary;
        &-container {
            @include flex(row, flex-start, flex-start, 115px);
            .footer-box {
                @include flex(column, flex-start, flex-start, 25px);
                &__text {
                    @include WorkSans(16px, 400, 140%);
                    color: $footer-text-color;
                    width: 72%;
                }
                &__wrap {
                    @include flex(column, flex-start, flex-start, 15px);
                    &-text {
                        @include WorkSans(16px, 400, 140%);
                        color: $footer-text-color;  
                    }
                }
                &__social {
                    @include flex(row, center, center, 10px);
                }
                &__title {
                    @include SpaceMono(22px, 700, 160%);
                }
                &__list {
                    @include flex(column, flex-start, flex-start, 20px);
                }
                &__link {
                    @include WorkSans(16px, 400, 140%);
                    color: $footer-text-color;
                    text-decoration: none;
                }
                &__label {
                    @include flex(row, center, center, 0px);
                    background-color: $text-color;
                    border-radius: 20px;
                    &-input {
                        padding: 16px 20px;
                        border-radius: 20px;
                        color: $bg-color;
                    }
                    &-btn {
                        @include flex(row, center, center, 12px);
                        @include WorkSans(16px, 600, 140%);
                        background-color: $button-color;
                        padding: 16px 50px;
                        border-radius: 20px;
                    }
                }
            }
        }
        &-container2 {
            padding-top: 20px;
            border-top: 1px solid $bg-color;
            width: 100%;
            &__text {
                @include WorkSans(12px, 400, 110%);
                color: $footer-text-color;
            }
        }
    }
}

@media screen and (max-width: 1279px) and (min-width: 834px) {
    body {
        .header {
            .nav {
                display: none;
            }
            &-burger {
                display: block;
            }
        }
        .main {
            .section1 {
                padding: 80px 0px;
                .section1-box2 {
                    @include flex(row, center, center, 320px);
                }
                .section1-box3 {
                    &__cont {
                        .section1-box3__avatar {
                            &-info {
                                &-name {
                                    @include WorkSans(18px, 600, 140%);
                                }
                            }
                        }
                    }
                }
            }
        }
        .footer {
            padding: 80px 70px;
            &-container {
                @include flex(column, flex-start, flex-start, 30px);
            }
        }
    }
}